[Unit]
Description=Ippon Volleyball Bot
After=network.target

[Service]
Type=simple
User=bladvaran
WorkingDirectory=%h/projects/ippon_bot
Environment=PYTHONPATH=%h/projects/ippon_bot
EnvironmentFile=%h/projects/ippon_bot/.env
ExecStart=%h/projects/ippon_bot/.venv/bin/python -m bot
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
